* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Montserrat;
}

p {
  margin: 0px !important;
}

h2 {
  margin-bottom: 0px !important;
}

.fa-solid {
  color: var(--color-secundario);
}

.iconoTitulo {
  color: var(--color-secundario);
  font-size: 1.8em;
  margin-right: 10px;
}

.iconoSecundario {
  color: var(--color-primario);
  font-size: 1.5em;
  margin-right: 10px;
}

.iconoTerciario {
  color: white;
  font-size: 1.5em;
  margin-right: 10px;
}

.iconoDark {
  color: var(--color-secundario);
  font-size: 1.5em;
  margin-right: 10px;
}

.white {
  color: white;
}

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

:root {
  --color-default: #0a0d13;
  --color-primario: #04A0EE;
  --color-secundario: #2C5282;
  --color-terciario: #96D7F8;
  --color-cuaternario: #4299E1;
  --color-quinario: #EBF8FF;
  --color-sextenario: #ECEAEA;
}

.contenedor {
  padding: 40px 5%;
}

.botonPrimario {
  background-color: var(--color-primario);
  border: solid 2px var(--color-primario);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
}
.botonPrimario:hover {
  background-color: white;
  color: var(--color-primario);
}

.botonSecundario {
  background-color: white;
  border: solid 2px var(--color-primario);
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 0.9em;
  color: var(--color-primario);
}
.botonSecundario:hover {
  background-color: var(--color-primario);
  color: white;
}

@media (min-width: 768px) {
  .separarBoton {
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  .botonPrimario {
    margin-top: 5px;
  }
  .botonSecundario {
    margin-top: 5px;
  }
}
.botonPedir {
  background-color: var(--color-primario);
  border: solid 2px var(--color-primario);
  border-radius: 20px;
  padding: 0px 30px;
  margin: 0px 15px;
  color: white;
  font-weight: bold;
  font-size: 2em;
}
.botonPedir:hover {
  background-color: white;
  color: var(--color-primario);
}

.separarBoton {
  margin-left: 10px !important;
}

.sinMargen {
  margin: 0px !important;
}

.tituloDark {
  font-weight: bold;
  color: var(--color-secundario);
}

.subtituloDark {
  font-weight: bold;
  color: var(--color-secundario);
}

.tituloSky {
  font-weight: bold;
  color: var(--color-primario);
}

.parrafoDark {
  color: var(--color-secundario);
}

.badgeNuevo {
  margin: 3em 0px 0px 5em;
}

.badgeHeader {
  margin: 3em 0px 0px 5em;
  padding: 10px 20px;
}

.badgePorcentaje {
  margin: 3em 0px 0px 5em;
  padding: 5px 20px;
}

.navDesktop {
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 1px 8px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 8px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 8px 10px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 2;
  background-color: white;
  margin-bottom: 120px;
}

.navMobile {
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 1px 8px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 8px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 8px 10px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 2;
  background-color: white;
  margin-bottom: 120px;
}

.contenedorLogo {
  align-items: center;
}

.navLogo {
  max-width: 150px;
}

.contenedorBusqueda {
  align-items: center;
}

.buscador {
  width: 100%;
  border: solid 1px var(--color-primario);
  border-radius: 30px;
  padding: 7px;
  margin-left: 20px;
}
.buscador:hover {
  border: solid 2px var(--color-primario) !important;
}

input {
  border: none;
}
input:focus-visible {
  outline: none;
}

.input-group {
  margin-bottom: 0px !important;
}

.contenedorBotonesNav {
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .contenedorBotonesNav {
    justify-content: center !important;
  }
}

.navbarSecundario {
  padding: 130px 5% 50px 5%;
}

.secondaryNavbar {
  padding-top: 130px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
  text-align: center;
}

.tituloHome {
  font-weight: bold;
  font-size: 14rem;
  color: var(--color-secundario);
}

.contenedorTarjetas1 {
  max-width: 100%;
}

.tarjeta1 {
<<<<<<< HEAD
  -o-object-fit: cover;
     object-fit: cover;
=======
  object-fit: cover;
>>>>>>> 9fd93bb (Jue 16 feb)
  height: auto;
  width: 100%;
}

.card {
  border-radius: 50px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 5em;
}

.card-img-top {
  border-radius: 50px 50px 0px 0px;
<<<<<<< HEAD
  -o-object-fit: cover;
     object-fit: cover;
=======
  object-fit: cover;
>>>>>>> 9fd93bb (Jue 16 feb)
  height: 150px;
}

.tituloCard {
  color: var(--color-secundario);
  font-weight: bold;
}

.textoCard {
  font-size: 14px;
  color: var(--color-secundario);
}

.demoraTarjeta {
  font-weight: bold;
  color: var(--color-cuaternario);
  font-size: 0.8rem;
}

.card-body {
  background-color: var(--color-quinario);
  opacity: 70%;
}

.card-footer {
  background-color: var(--color-quinario);
  opacity: 70%;
  border-radius: 0px 0px 50px 50px !important;
  padding: 10px 20px;
}

.badgeMasPedido {
  margin: 3em 0px 0px 6em;
}

.distanciaCard {
  font-size: 14px;
}

.iconoLocationCard {
  margin-right: 10px;
<<<<<<< HEAD
  -o-object-fit: scale-down;
     object-fit: scale-down;
=======
  object-fit: scale-down;
>>>>>>> 9fd93bb (Jue 16 feb)
}

label {
  color: grey;
}

input[type=radio] {
  display: none;
}

.clasificacion {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}

label:hover {
  color: var(--color-secundario);
}

label:hover ~ label {
  color: var(--color-secundario);
}

input[type=radio]:checked ~ label {
  color: var(--color-secundario);
}

#form {
  width: 100% !important;
  margin: 0 auto;
  height: auto;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type=radio] {
  display: none;
}

label {
  color: grey;
  font-size: 60;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: var(--color-secundario);
}

input[type=radio]:checked ~ label {
  color: var(--color-secundario);
}

.contenedorCalificacion {
  text-align: center;
}

.contenedorHeader {
  background-image: url("/assets/img/Rectangle 108.png");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: black;
  height: 600px;
  width: 100%;
  display: flex;
}

.contenedorTextoHeader {
  padding-left: 5%;
  padding-bottom: 2%;
}

.nombreLocalHeader {
  color: white;
  font-size: 4em;
  font-weight: bold;
}

.subtituloLocal {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.subHeaderCerrado {
  padding: 0px 5%;
}

.contenedorSubHeaderCerrado {
  background-color: var(--color-sextenario);
  height: 80px;
  border-radius: 0px 0px 25px 25px;
}

.textoRestauranteCerrado {
  font-weight: bold;
  font-size: 1em;
}

.horaRestauranteCerrado {
  font-weight: bold;
}

.seleccionCategoria {
  margin: 40px 5%;
  max-width: 100%;
  flex-wrap: wrap;
}

.contenedorCategorias {
  flex-wrap: wrap;
}

.botonCategorias {
  margin-left: 20px;
}

.seccionProductos {
  margin: 0px 5%;
}

.cardProducto {
  margin: 15px 0px;
  background-color: var(--color-quinario);
  border-radius: 60px;
  max-height: 200px;
}

.tituloProducto {
  color: var(--color-secundario);
  font-weight: bold;
  font-size: 1.4em;
}

.precioAntiguo {
  font-size: 1em;
  color: var(--color-terciario);
  text-decoration: line-through;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
}

.precioNuevo {
  color: var(--color-secundario);
  font-weight: bold;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
}

.agregarAlCarrito {
  font-size: 3em;
  color: white;
  background-color: var(--color-primario);
  padding: 15px 20px;
  border-radius: 200px;
}
.agregarAlCarrito:hover {
  color: var(--color-primario);
  background-color: transparent;
  border: 2px solid var(--color-primario);
}

.img-producto {
  width: 90%;
  height: 100%;
<<<<<<< HEAD
  -o-object-fit: cover;
     object-fit: cover;
=======
  object-fit: cover;
>>>>>>> 9fd93bb (Jue 16 feb)
}

.contenedorImagenModalProducto {
  border-radius: 100px;
}

.imagenModalProducto {
  border-radius: 50px 50px 0px 0px;
}

.modal-content {
  border-radius: 50px !important;
}

.modalFooter {
  border-radius: 0px 0px 50px 50px;
}

.modalBody {
  padding: 0px 30px;
  background-color: var(--color-quinario);
}

.modificarCantidadMini {
  padding: 6px 10px;
  margin: 0px 10px;
  color: white;
  background-color: var(--color-primario);
  border-radius: 50px;
}

.modificarCantidad {
  font-size: 2em;
  padding: 6px 20px;
  margin: 0px 10px;
  color: white;
  background-color: var(--color-primario);
  border-radius: 50px;
}

.cantidadProducto {
  font-size: 2em;
  padding: 0px 15px;
}

.lineaEspaciado {
  border-bottom: 1px dotted black;
}

.contenedorIrAlCarrito {
  background-color: white;
}

.miniCard {
  border: 2px solid white;
  border-radius: 50px;
}

.miniCardCentral {
  margin: 0px 10px;
}

.tituloMiniCard {
  font-size: 0.8em;
}

.descripcionMiniCard {
  font-size: 0.6em;
}

.agregarAlCarritoMiniCard {
  font-size: 0.8em;
  color: white;
  background-color: var(--color-primario);
  padding: 10px 10px;
  border-radius: 200px;
}
.agregarAlCarritoMiniCard:hover {
  color: var(--color-primario);
  background-color: white;
}

.tituloDetallesRestaurante {
  font-size: 1.3em;
  margin-top: 10px;
  font-weight: bold;
  color: var(--color-primario);
  padding: 10px 0px;
  text-align: left;
}

.tituloHorarios {
  font-size: 1.3em;
  margin-top: 10px;
  font-weight: bold;
  color: var(--color-primario);
  opacity: 60%;
  padding: 10px 0px;
  text-align: left;
}

.contenedorInteriorTarjetaLocal {
  padding: 0px 40px;
}

.contenedorHorarios {
  margin: 0px;
  padding: 0px;
}

.horariosTarjeta {
  border-bottom: solid 1px rgb(229, 229, 229);
}

.diasTarjeta {
  margin: 0px;
  padding: 0px;
  color: var(--color-secundario);
  font-size: 0.7em;
}

.horasTarjeta {
  margin: 0px;
  padding: 0px;
  color: var(--color-secundario);
}

.separadorTarjeta {
  color: gray;
  border: solid 0.5px gray;
  margin: 10px;
}

.tituloOpinionDeUsuarios {
  color: var(--color-primario);
  opacity: 60%;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.calificacionOpinionDeUsuarios {
  font-weight: bold;
  color: var(--color-secundario);
  padding: 0px;
  margin: 0px;
}

.estrellaTarjeta {
  font-size: 1.5em;
}

.seccionSuperiorCompra {
  padding-top: 130px;
}

.horarioRecomendado {
  font-size: 1.6em;
  margin-left: 15px;
  color: gray;
}

.contenedorCuponAplicado {
  border: solid 2px var(--color-primario);
  border-radius: 30px;
  opacity: 0.6;
  padding: 7px 10px;
}

.cuponAplicado {
  color: var(--color-primario);
  opacity: 0.6;
  font-size: 0.9em;
  font-weight: bold;
}

.botonCerrar {
  font-size: 0.8em;
}

.contenedorChanguitoLateral {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.13);
  min-width: 250px !important;
}

@media (max-width: 1199px) {
  .contenedorChanguitoLateral {
    margin-top: 60px;
    min-width: auto;
  }
}

.tituloTuPedido {
  opacity: 0.6;
}

.notaDeProducto {
  font-size: 0.8em;
  margin-top: 0px;
  padding-top: 0px;
}

.precioProductoChanguitoLateral {
  font-weight: lighter;
  color: var(--color-secundario);
}

.productoRelacionado {
  border: 2px solid white;
  border-radius: 50px;
  background-color: var(--color-quinario);
  border-color: white;
}

.ProductoRelacionadoCentral {
  margin: 0px 10px;
}

.tituloProductoRelacionado {
  font-size: 1.1em;
}

.descripcionProductoRelacionado {
  font-size: 0.6em;
}

.agregarAlCarritoProductoRelacionado {
  font-size: 0.8em;
  color: white;
  background-color: var(--color-primario);
  padding: 10px 10px;
  border-radius: 200px;
}
.agregarAlCarritoProductoRelacionado:hover {
  color: var(--color-primario);
  background-color: white;
}

.precioProductoFinalizarCompra {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--color-secundario);
}

.productoFinalizarCompra {
  color: var(--color-secundario);
  font-size: 1em;
}

.bordeFinalizarCompra {
  border-bottom: solid 1px rgb(229, 229, 229);
}

.modalFinalizarCompra {
  border-radius: 50px 50px 0px 0px;
}

.contenedorHorario {
  background-color: var(--color-quinario);
  border-radius: 50px;
}

.tituloSeguimiento {
  color: var(--color-primario);
  font-weight: bold;
}

.iconoSeguimientoPasado {
  font-size: 4em;
  background-color: var(--color-primario);
  padding: 1rem;
  border-radius: 100px;
  color: white;
  width: 6rem;
}

.iconoSeguimientoActivo {
  font-size: 4em;
  background-color: var(--color-primario);
  padding: 1rem;
  border-radius: 100px;
  color: white;
  width: 6rem;
}

.iconoSeguimientoSiguiente {
  font-size: 4em;
  background-color: white;
  border: solid 1px var(--color-primario);
  padding: 1rem;
  border-radius: 100px;
  color: var(--color-primario);
  width: 6rem;
}

.textoSeguimientoPasos {
  color: var(--color-primario);
}

.pasoActivo {
  font-weight: bold;
}

.iconoContactar {
  font-size: 4em;
}

.necesitoAyuda {
  font-size: 1.5em;
  color: var(--color-primario);
  font-weight: bold;
}

.contenedorNecesitoAyuda {
  background-color: var(--color-quinario);
  padding: 1.5rem;
  border-radius: 50px;
}

.footer {
  background-color: #ECEAEA;
}

.logoFooter {
  max-width: 150px;
}

.descargaFooter {
  max-width: 150px;
  margin: 0px 10px;
}

.subtituloFooter {
  font-weight: bold;
}

.textoFooter {
  font-size: 0.8em;
}/*# sourceMappingURL=style.css.map */